<h1>Welcome to Gift List!</h1>

<h2>Gift list is a great service that allows users to:</h2>
<ul>
	<li>Create and invite guests to an event you've set up</li>
	<li>Specify a 'gift list' related to the event</li>
	<li>See at a glance what gifts your guest list have committed to</li>
</ul>
<h3>More details coming soon!</h3>
