<html>
<head>
  <%= stylesheet_link_tag "application" %>
  <!-- <link type="text/css" rel="stylesheet" href="assets/stylesheets/application.css"> -->
  <title>Gift List</title>
</head>
<body>
  <header>
      <nav>
        <ul>
          <li>Register for gift list</li>
          <li>Manage your list</li>
          <li>Buy a gift</li>
          </ul>
        </nav>
    <p>GIFT LIST</p>

  </header>
  <article>
    <img id="mainpic" src="http://2.bp.blogspot.com/-E0oYG8kA9io/T3qzMvCuNZI/AAAAAAAAAKc/LjfpGRCHWBA/s1600/Wedding-Gift-Ideas-Unique1.jpg" alt="wedding present" />
    <h1>Welcome to Gift List!</h1>
    <h2>Gift list is a great service that allows users to:</h2>
    <ul>
      <li>Create and invite guests to an event you've set up</li>
      <li>Specify a 'gift list' related to the event</li>
      <li>See at a glance what gifts your guest list have committed to</li>
    </ul>
    <h3>More details coming soon!</h3>
    <h2>In the meantime please sign-up and we'll notify you when the service is up and running!!!!!</h2>
    </article>

    <div id="photo-container">
      <div class="photos">
        <a href="http://www.google.co.uk"><p>Register for gift list</p>
        <img src="http://pastor-dave.org/ESW/Images/register1.JPG" height="225" width="315"/></a>
      </div>

       <div class="photos">
        <p>Manage your list</p>
        <img src="http://interviewangel.com/blog/userfiles/weddings_bw2.jpg" height="225" width="315"/>
      </div>

      <div class="photos">
        <p>Buy a gift</p>
        <img src="http://4.bp.blogspot.com/-cd2I-F4ABM0/T9SmcdNi3EI/AAAAAAAAAFQ/1_NhQLfUYco/s1600/weddinggift%252C+wedding+gift%252C+wedding+gifts%252C+wedding+idea.gifts.jpg" height="225" width="315"/>
      </div>
    </div>

    <footer>
      <nav>
        <ul>
          <li><a href="mailto:richwisniewski@gmail.com?subject=Hello%20there">Contact</a></li>
          <li>About Us</li>
        </ul>
      </nav>
      <p>&copy Gift List
    </footer>
</body>
</html>